<form
        th:action="${URL}"
        th:object="${entity}"
        method="post"
        id="main-form"
        th:onsubmit="'return save(this);'"
        xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="form-group col-sm-10">
                    <th:block th:replace="~{fragments/finput :: finput(finputText= #{label.password}, finputName='password', finputRequired=true, finputType='text')}" th:remove="tag"/>
                    <p><i style="color: palevioletred" th:text="#{label.reset.password.detail}"></i></p>
                </div>

                <div class="form-group col-sm-1">
                    <a class="btn btn-primary " id="handlerKey" style="padding: 7px 12px;  margin-top: 25px !important;"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group text-right m-b-0">
        <button type="reset" class="btn btn-default waves-effect m-l-5" onclick="closeDialog()" th:text="#{button.cancel}">
            Cancel
        </button>
        <button class="btn btn-primary waves-effect waves-light" type="submit" th:text="#{button.submit}">
            Submit
        </button>
    </div>
    <script>
        $(document).ready(() => {
            $("#password").val(generateRandomKey(8));
        });
        $("#handlerKey").on('click', () => {
            $("#password").val(generateRandomKey(8));
        });

        function generateRandomKey(length, charSet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*') {
            let randomString = '';
            const charSetLength = charSet.length;

            for (let i = 0; i < length; i++) {
                const randomIndex = Math.floor(Math.random() * charSetLength);
                randomString += charSet[randomIndex];
            }

            return randomString;
        }
    </script>
</form>

