<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="finput_checkbox">
    <div class="mb-3">
        <label th:for="${finputName}" th:utext="${finputText}">
            <span class="text-danger">*</span>
        </label>

        <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   th:name="${finputName}"
                   th:id="${finputName}"
                   th:disabled="${finputDisable == true}"
                   th:checked="${finputValue}">
            <label class="form-check-label"
                   th:for="${finputName}"
                   th:text="${finputText}">
                Default
            </label>
        </div>
    </div>
</th:block>
</body>
</html>
