<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="finput_textarea">
<style>

</style>
<section th:remove="tag">
    <label th:if="${finputType} != 'hidden'" th:for="${finputName}" th:utext="${finputText + (finputRequired==true ? '<span class=text-danger>*</span>':'')}">Label Name
        <span class="text-danger">*</span>
    </label>
    <div class="input-group" th:if="${finputIcon != null}">
        <span class="input-group-addon"><i th:class="${finputIcon}"></i></span>
        <textarea
                th:name="${finputName}"
                th:id="${finputId != null ? finputId : finputName}"
                th:placeholder="'Enter ' + ${finputText}"
                th:required="${finputRequired==true}"
                th:class="'form-control'+${(finputClass==null?'':' '+finputClass)}"
                th:type="${finputType}"
                th:field="*{__${finputName}__}"
                th:readonly="${finputReadOnly==true}"
                th:maxlength="${maxLength == null ? '255' : maxLength}"
                th:rows="${finputRow == null ? '3' : finputRow}"
                autocomplete="off"
        />
    </div>
    <textarea th:if="${finputIcon == null}"
           th:name="${finputName}"
           th:id="${finputId != null ? finputId : finputName}"
           th:placeholder="'Enter ' + ${finputText}"
           th:required="${finputRequired==true}"
           th:class="'form-control'+${(finputClass==null?'':' '+finputClass)}"
           th:type="${finputType}"
           th:field="*{__${finputName}__}"
           th:readonly="${finputReadOnly==true}"
           th:maxlength="${maxLength == null ? '255' : maxLength}"
           th:rows="${finputRow == null ? '3' : finputRow}"
           autocomplete="off"
    />
    <ul th:if="${#fields.hasErrors(finputName)}" class="parsley-errors-list filled">
        <li class="parsley-required" th:errors="*{__${finputName}__}"></li>
    </ul>
    <script th:inline="javascript" th:if="${finputReadOnly==false}">
        $(document).ready(function () {
            let inputId = [[${finputName}]];
            $('input#' + inputId).maxlength();
        });
    </script>
</section>
</body>
</html>

