<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="finput_percentage">
<section th:remove="tag">
    <!-- Label -->
    <label th:for="${finputName}"
           th:utext="${finputText + (finputRequired == true ? '<span class=\'text-danger\'>*</span>' : '')}">
        Label Name <span class="text-danger" th:if="${finputRequired == true}">*</span>
    </label>

    <!-- Input Group with % Icon -->
    <div class="input-group mb-2">
        <span class="input-group-text"><i class="fa fa-percent"></i></span>
        <input
                type="text"
                th:name="${finputName}"
                th:id="${finputName}"
                th:placeholder="'Enter ' + ${finputText}"
                th:required="${finputRequired == true}"
                th:readonly="${finputReadOnly == true}"
                th:field="*{__${finputName}__}"
                class="form-control autonumber text-end"
                autocomplete="off"
                data-v-min="0"
        />
    </div>

    <!-- Validation Errors -->
    <ul th:if="${#fields.hasErrors(finputName)}" class="parsley-errors-list filled">
        <li class="parsley-required" th:errors="*{__${finputName}__}"></li>
    </ul>

    <!-- autoNumeric Script -->
    <script th:inline="javascript">
        $(document).ready(function () {
            const inputId = /*[[${finputName}]]*/ '';
            $('#' + inputId).autoNumeric('init', {
                mDec: 0,    // No decimal points; change to 2 if needed
                vMin: 0,
                vMax: 100
            });

            $('#' + inputId).on('click', function () {
                $(this).select();
            });
        });
    </script>
</section>
</body>
</html>
