<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="finput_filer">
<style>
    .jFiler-input-dragDrop {
        width: 100% !important;
    }
</style>

<section th:remove="tag">
    <input type="file" name="files" id="filer_input" multiple="multiple"/>

    <script th:inline="javascript">
        $(document).ready(function () {
            const extensionsParam = /*[[${acceptedFile}]]*/ 'jpg|png|gif';
            const extensions = extensionsParam.split('|');
            let removeUrl = /*[[${removeUrl}]]*/ '';
            if (removeUrl === '') removeUrl = null;

            let uploadUrl = /*[[${uploadUrl}]]*/ '';
            if (uploadUrl === '') uploadUrl = null;

            const limit = /*[[${limit}]]*/ null;
            const maxSizeMb = /*[[${maxSizeMb}]]*/ null;
            const addMore = /*[[${addMore == null ? false : addMore}]]*/ false;
            const attachments = /*[[${attachments}]]*/ null;

            const removeFunction = removeUrl ? function (itemEl, file, id, listEl, boxEl, newInputEl, inputEl) {
                $.ajax({
                    type: "POST",
                    url: removeUrl,
                    dataType: "html",
                    data: file,
                    success: function (response) {
                        toastr?.success(response, "Success") || alert(response);
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            } : null;

            const uploadFunction = uploadUrl ? {
                url: uploadUrl,
                type: 'POST',
                enctype: 'multipart/form-data',
                processData: false,
                success: function (data, el) {
                    const parent = el.find(".jFiler-jProgressBar").parent();
                    el.find(".jFiler-jProgressBar").fadeOut("slow", function () {
                        $("<div class='jFiler-item-others text-success'><i class='icon-jfi-check-circle'></i> Success</div>")
                            .hide().appendTo(parent).fadeIn("slow");
                    });
                },
                error: function (el) {
                    const parent = el.find(".jFiler-jProgressBar").parent();
                    el.find(".jFiler-jProgressBar").fadeOut("slow", function () {
                        $("<div class='jFiler-item-others text-error'><i class='icon-jfi-minus-circle'></i> Error</div>")
                            .hide().appendTo(parent).fadeIn("slow");
                    });
                }
            } : null;

            $("#filer_input").filer({
                limit: limit,
                maxSize: maxSizeMb,
                extensions: extensions,
                changeInput: `
                    <div class="jFiler-input-dragDrop">
                        <div class="jFiler-input-inner text-center">
                            <div class="jFiler-input-icon">
                                <i class="icon-jfi-cloud-up-o fs-3"></i>
                            </div>
                            <div class="jFiler-input-text">
                                <h5 class="my-2">Drag & Drop files here</h5>
                                <span class="d-block my-2">or</span>
                            </div>
                            <a class="btn btn-primary">Browse Files</a>
                        </div>
                    </div>
                `,
                showThumbs: true,
                theme: "dragdropbox",
                templates: {
                    box: '<ul class="jFiler-items-list jFiler-items-grid"></ul>',
                    item: `
                        <li class="jFiler-item">
                            <div class="jFiler-item-container">
                                <div class="jFiler-item-inner">
                                    <div class="jFiler-item-thumb">
                                        <div class="jFiler-item-status"></div>
                                        <div class="jFiler-item-info">
                                            <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name}}</b></span>
                                            <span class="jFiler-item-others">{{fi-size2}}</span>
                                        </div>
                                        {{fi-image}}
                                    </div>
                                    <div class="jFiler-item-assets jFiler-row">
                                        <ul class="list-inline float-start">
                                            <li>{{fi-progressBar}}</li>
                                        </ul>
                                        <ul class="list-inline float-end">
                                            <li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    `,
                    itemAppend: `
                        <li class="jFiler-item">
                            <div class="jFiler-item-container">
                                <div class="jFiler-item-inner">
                                    <div class="jFiler-item-thumb">
                                        <div class="jFiler-item-status"></div>
                                        <div class="jFiler-item-info">
                                            <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name}}</b></span>
                                            <span class="jFiler-item-others">{{fi-size2}}</span>
                                        </div>
                                        {{fi-image}}
                                    </div>
                                    <div class="jFiler-item-assets jFiler-row">
                                        <ul class="list-inline float-end">
                                            <li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    `,
                    progressBar: '<div class="bar"></div>',
                    removeConfirmation: true,
                    _selectors: {
                        list: '.jFiler-items-list',
                        item: '.jFiler-item',
                        progressBar: '.bar',
                        remove: '.jFiler-item-trash-action'
                    }
                },
                dragDrop: {
                    dragEnter: null,
                    dragLeave: null,
                    drop: null
                },
                uploadFile: uploadFunction,
                onRemove: removeFunction,
                addMore: addMore,
                clipBoardPaste: true,
                files: attachments,
                captions: {
                    button: "Choose Files",
                    feedback: "Choose files to upload",
                    feedback2: "files selected",
                    drop: "Drop files here",
                    removeConfirmation: "Are you sure you want to remove this file?",
                    errors: {
                        filesLimit: "Only {{fi-limit}} files allowed.",
                        filesType: "Only supported image files are allowed.",
                        filesSize: "{{fi-name}} is too large. Max size: {{fi-maxSize}} MB.",
                        filesSizeAll: "Some files are too large. Max total size: {{fi-maxSize}} MB."
                    }
                }
            });

            $('#filer_input').attr('name', 'files');
        });
    </script>
</section>
</body>
</html>
