<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="finput_checkbox">
    <finput_checkbox>
        <label th:for="${finputName}" th:utext="${finputText}"><span class="text-danger">*</span></label>
        <div class="checkbox">
            <input
                   th:name="${finputName}"
                   th:id="${finputName}"
                   th:disabled="${finputDisable==true}"
                   th:checked="${finputValue}"
                   type="checkbox">
            <label
                    th:for="${finputName}"
                    th:text="${finputText}"
            >
                Default
            </label>
        </div>
    </finput_checkbox>
</th:block>
</body>
</html>