<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="table_pagination">
    <div class="row" style="margin-bottom: 150px;">
        <div th:if="${pager.getData().totalPages > 1}" class="col-sm-12">
            <div class="pull-right">
                <ul class="pagination">
                    <!-- First page button -->
                    <li th:classappend="${pager.getData().number == 0} ? 'disabled'">
                        <a href="javascript:void(0);"
                           th:onclick="${pager.getData().number == 0} ? '' : 'load(1);'">
                            <i class="fa fa-angles-left"></i>
                        </a>
                    </li>

                    <!-- Previous page button -->
                    <li th:classappend="${pager.getData().number == 0} ? 'disabled'">
                        <a href="javascript:void(0);"
                           th:onclick="${pager.getData().number == 0} ? '' : 'load(' + ${pager.getData().number} + ');'">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>

                    <!-- Page number buttons -->
                    <li th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}"
                        th:class="${pager.getData().number == (page - 1)} ? 'active' : ''">
                        <a href="javascript:void(0);" th:onclick="'load(' + ${page} + ');'" th:text="${page}"></a>
                    </li>

                    <!-- Next page button -->
                    <li th:classappend="${pager.getData().number + 1 >= pager.getData().totalPages} ? 'disabled'">
                        <a href="javascript:void(0);"
                           th:onclick="${pager.getData().number + 1 >= pager.getData().totalPages} ? '' : 'load(' + (${pager.getData().number} + 2) + ');'">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>

                    <!-- Last page button -->
                    <li th:classappend="${pager.getData().number + 1 >= pager.getData().totalPages} ? 'disabled'">
                        <a href="javascript:void(0);"
                           th:onclick="${pager.getData().number + 1 >= pager.getData().totalPages} ? '' : 'load(' + ${pager.getData().totalPages} + ');'">
                            <i class="fa fa-angles-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
