<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="magnificGalary">
<style>
    div.mfp-bg.mfp-with-zoom.mfp-img-mobile.mfp-ready {
        z-index: 1051 !important;
    }

    div.mfp-wrap.mfp-gallery.mfp-auto-cursor.mfp-with-zoom.mfp-img-mobile.mfp-ready {
        z-index: 1052 !important;
    }

    .eachimg {
        margin-right: 10px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
</style>
<section th:remove="tag">
    <label th:text="#{label.attachment}"></label>
    <div class="zoom-gallery">
        <a th:each="att, iter : ${attachmentEntities}" th:target="_blank"
           th:href="${att.fileUrl}"
           th:data-source="${att.fileUrl}" th:title="${att.originalFileName}" style="height:125px;">
            <img class="eachimg" th:src="${att.fileUrl}" height="125">
        </a>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('.zoom-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                closeOnContentClick: false,
                closeBtnInside: false,
                mainClass: 'mfp-with-zoom mfp-img-mobile',
                image: {
                    verticalFit: true,
                    titleSrc: function (item) {
                        return item.el.attr('title') + ' &middot; <a class="image-source-link" href="' + item.el.attr('data-source') + '" target="_blank">image source</a>';
                    }
                },
                gallery: {
                    enabled: true
                },
                zoom: {
                    enabled: true,
                    duration: 300,
                    opener: function (element) {
                        return element.find('img');
                    }
                }
            });
        });
    </script>
</section>
</body>
</html>