<form
        th:action="${URL}"
        th:object="${entity}"
        method="post"
        id="main-form"
        th:onsubmit="'return save(this);'"
        xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="form-group col-sm-12">
            <th:block th:replace="~{fragments/finput :: finput(finputText= #{label.field.code}, finputName='fieldCode',finputRequired=true, finputType='text')}" th:remove="tag"/>
        </div>
        <div class="form-group col-sm-12">
            <th:block th:replace="~{fragments/finput :: finput(finputText= #{label.field.name}, finputName='fieldName',finputRequired=true, finputType='text')}" th:remove="tag"/>
        </div>
        <div class="form-group col-sm-12">
            <label for="role" th:text="#{label.field.data.type}"><span class="text-danger">*</span></label>
            <select th:field="*{dataType}" id="role" class="form-control">
                <option th:each="d, row: ${dataTypes}" th:value="${d.name()}" th:text="${d.name()}"></option>
            </select>
        </div>
        <div class="form-group col-sm-12">
            <th:block th:replace="~{fragments/finput :: finput(finputText= #{label.field.default.value}, finputName='defaultValue',finputRequired=false, finputType='text')}" th:remove="tag"/>
        </div>
    </div>
    <div class="form-group text-right m-b-0">
        <button type="reset" class="btn btn-default waves-effect m-l-5" onclick="closeDialog()" th:text="#{button.cancel}">
            Cancel
        </button>
        <button class="btn btn-primary waves-effect waves-light" type="submit" th:text="#{button.submit}">
            Submit
        </button>
    </div>
</form>